/* INFO
Theme None:
Description: Simple CSS for learning
Author: Jaime Campbell
Author URI: https://nowebsite.com
Tags: Website, student, test
*/

/************* Main content ***********/

/* Blog container */
.blog-container {
  background-color: aliceblue;
  font-family: monospace;
}



}


/************* Typography **********/


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.625em;
}

h3 {
  font-size: 1.375em;
}

p {
  font-size: 1em;
}

h1, h2, h3 {
  font-family: "League Gothic", Impact, sans-serif;
  font-weight:normal;
  line-height: 2em;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  color: #303F5A;
  margin: 0;
  padding: 0;


}


/************* Nav Style ***********/

/************* Footer Style ***********/
